<!-- Nav tabs for all Notices -->
<!--Source: https://www.w3schools.com/bootstrap5/bootstrap_navs.php-->
<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" data-bs-toggle="tab" href="#home">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#menu1"><i class="fas fa-image" aria-hidden="true"></i> Gallery 1</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" data-bs-toggle="tab" href="#menu2">Menu 2</a>
  </li>
</ul>

<!-- Tab panes -->
<div class="tab-content ">
  <div class="tab-pane container active" id="home">
    <% 3.times do %>
      Leo ipsum suspendisse scelerisque tincidunt sem maximus lorem elit dolor nec facilisis felis ut facilisis molestie cursus mi commodo ut facilisis ex eu magna vivamus.

      Ex tortor cursus eget tincidunt leo hendrerit lorem suspendisse eros sit nulla sed et quisque massa quis hendrerit commodo morbi sit euismod ut purus maximus.
    <% end %>
  </div>
  <div class="tab-pane container fade" id="menu1">Menu 01  text</div>
  <div class="tab-pane container fade" id="menu2">Menu 02  text</div>
</div>
