<div class="container">
  <div class="row">
    <% 4.times do %>
      <div class="card col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12 p-1 ">
        <%= image_tag "1.jpg", class: "img-fluid" %>
        <div class="card-body">
          <!-- <h5 class="card-title">Card title</h5>-->
          <p class="card-text" style="font-size: x-small">ইউনিভার্সিটি মালয়েশিয়া তেরেঙ্গানু’তে ইন্টার্নশিপ করতে যাচ্ছে সিভাসু’র ৫০ শিক্ষার্থী</p>
        </div>
      </div>
    <% end %>
  </div>
</div>