<marquee class="scroll" behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();" >
  <% 3.times do |i| %>
    <i class="fa-regular fa-bell"></i>
    <a class="scroll" href="cvasu.ac.bd" onmouseover="this.stop();">Welcome to CVASU <%=i %></a>
    &nbsp; &nbsp; &nbsp;&nbsp;
  <% end %>
</marquee>